<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/register.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/fonts/iconfont.css" />
</head>
<body>
	<div class="wrapper">
		<div class="title">
			<span class="fs-18">注册</span>
			<span class="fs-12">>></span>
		</div>
		<div class="content">
			<div class="nav-top">
				<div class="col-xs-4 col-md-4">
					<div class="box">
						<div class="circle fl">1</div>
						<div class="fl box-list">设置登录名</div>
					</div>
				</div>
				<div class="col-xs-4 col-md-4">
					<div class="box">
						<div class="circle fl">2</div>
						<div class="fl box-list">填写账户信息</div>
					</div>
				</div>
				<div class="col-xs-4 col-md-4">
					<div class="box active">
						<div class="circle fl active">3</div>
						<div class="fl box-list active">注册成功</div>
					</div>
				</div>
			</div>
			<div class="set">	
				<div class="register-success">
					<div class="cf tip">
						<img src="__PUBLIC__/img/smile.png">
						<span>恭喜您注册成功！</span>
					</div>
					<a href="__APP__/admin/Login/login">返回登录</a>
				</div>
			</div>
		</div>
	</div>
	<script src='__PUBLIC__/js/jquery.min.js' charset="UTF-8"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js?v={$version}"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
</body>
</html>