<!DOCTYPE html>
<html>

<head>
    <title>演示如何打印当前页面的内容</title>
</head>

<body>
    <script type="text/javascript" src="__PUBLIC__/js/LodopFuncs.js"></script>
    <object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
        <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
    </object>
    <div id="div1">
        <style>
        td {
            border: 1px solid #000;
        }
        </style>
        <p>看一下<a href="javascript:PreviewMytable();">预览打印</a>或<a href="javascript:DesignMytable();">打印设计</a></p>
        <table border="1" width="100%" style="border:solid 1px black;border-collapse:collapse">
            <thead>
                <tr>
                    <td width="33%" rowspan="2"><b><font face="宋体" size="2">作者<font color="#000000">(<i>Artist</i>)</font></font></b></td>
                    <td width="33%"><b><font face="宋体" size="2">歌曲题目</font></b>
                    </td>
                    <td width="33%" rowspan="2"><b><font face="宋体" size="2">国籍<font color="#000000"><i>(Country)</i></font></font></b></td>
                </tr>
                <tr>
                    <td width="34%"><b><font color="#000000" face="宋体" size="2"><i>CD Title</i></font></b>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="33%">Bob Dylan</td>
                    <td width="33%">这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2</td>
                    <td width="34%">USA</td>
                </tr>
                <tr>
                    <td width="33%">Bonnie Tyler</td>
                    <td width="33%">这里测试文章3这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2这里测试文章2</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">Dolly Parton</td>
                    <td width="33%">Greatest Hits</td>
                    <td width="34%">USA</td>
                </tr>
                <tr>
                    <td width="33%">Gary Moore</td>
                    <td width="33%">Still got the blues</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">Eros Ramazzotti</td>
                    <td width="33%">Eros</td>
                    <td width="34%">EU</td>
                </tr>
                <tr>
                    <td width="33%">Bee Gees</td>
                    <td width="33%">One night only</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">Dr.Hook</td>
                    <td width="33%">Sylvias Mother</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">Rod Stewart</td>
                    <td width="33%">Maggie May</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">Andrea Bocelli</td>
                    <td width="33%">这里测试文章1这里测试文章1这里测试文章1这里测试文章1这里测试文章1这里测试文章1这里测试文章1这里测试文章1这里测试文章1这里测试文章1这里测试文章1</td>
                    <td width="34%">EU</td>
                </tr>
                <tr>
                    <td width="33%">Percy Sledge</td>
                    <td width="33%">When a man loves a woman</td>
                    <td width="34%">USA</td>
                </tr>
                <tr>
                    <td width="33%">Savage Rose</td>
                    <td width="33%">Black angel</td>
                    <td width="34%">EU</td>
                </tr>
                <tr>
                    <td width="33%">Many</td>
                    <td width="33%">1999 Grammy Nominees</td>
                    <td width="34%">USA</td>
                </tr>
                <tr>
                    <td width="33%">Kenny Rogers</td>
                    <td width="33%">For the good times</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">Will Smith</td>
                    <td width="33%">Big Willie style</td>
                    <td width="34%">USA</td>
                </tr>
                <tr>
                    <td width="33%">Van Morrison</td>
                    <td width="33%">Tupelo Honey</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">Cat Stevens</td>
                    <td width="33%">the very best of</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">Sam Brown</td>
                    <td width="33%">Stop</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">T'Pau</td>
                    <td width="33%">Bridge of Spies</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">Tina Turner</td>
                    <td width="33%">Private Dancer</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">Kim Larsen</td>
                    <td width="33%">Midt om natten</td>
                    <td width="34%">EU</td>
                </tr>
                <tr>
                    <td width="33%">Luciano Pavarotti</td>
                    <td width="33%">Pavarotti Gala Concert</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">Otis Redding</td>
                    <td width="33%">the dock of the bay</td>
                    <td width="34%">USA</td>
                </tr>
                <tr>
                    <td width="33%">Simply Red</td>
                    <td width="33%">Picture book</td>
                    <td width="34%">EU</td>
                </tr>
                <tr>
                    <td width="33%">the Communards</td>
                    <td width="33%">Red</td>
                    <td width="34%">UK</td>
                </tr>
                <tr>
                    <td width="33%">Joe Cocker</td>
                    <td width="33%">Unchain my heart</td>
                    <td width="34%">USA</td>
                </tr>
            </tbody> 
        </table>
    </div>
	<script language="javascript" type="text/javascript"> 
	var LODOP; //声明为全局变量
        var iRadioValue=1;
	function PrintOneURL(){
		LODOP=getLodop();  
		LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_按网址打印表格");
		LODOP.ADD_PRINT_TBURL(46,90,800,300,document.getElementById("T1").value);
		LODOP.SET_PRINT_STYLEA(0,"HOrient",3);
		LODOP.SET_PRINT_STYLEA(0,"VOrient",3);
		LODOP.PREVIEW();			
	};	
	function PreviewMytable(){
		LODOP=getLodop();  
		LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_预览打印表格");
		LODOP.ADD_PRINT_TABLE(100,5,500,280,document.getElementById("div1").innerHTML);
		LODOP.SET_PRINT_STYLEA(0,"TableHeightScope",iRadioValue);		
		LODOP.PREVIEW();
	};	
	function DesignMytable(){
		LODOP=getLodop();  
		LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_打印设计表格");
		LODOP.ADD_PRINT_TABLE(100,5,500,280,document.getElementById("div1").innerHTML);
		LODOP.SET_PRINT_STYLEA(0,"TableHeightScope",iRadioValue);		
		LODOP.PRINT_DESIGN();
	};		
	function PrintInFullPage(){
		LODOP=getLodop();  
		LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_整页表格");
		LODOP.SET_PRINT_PAGESIZE(2,0,0,"A4");	
		LODOP.ADD_PRINT_TABLE("2%","1%","96%","98%",document.getElementById("div1").innerHTML);
		LODOP.SET_PREVIEW_WINDOW(0,0,0,800,600,"");
		LODOP.PREVIEW();				
	};	
	function PrintNoBorderTable(){
		LODOP=getLodop();  
		LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_无边线表格");
		LODOP.ADD_PRINT_TABLE(50,10,"50%",220,document.getElementById("div2").innerHTML);
		//LODOP.SET_PRINT_STYLEA(0,"Top2Offset",-40); //这句可让次页起点向上移
		LODOP.ADD_PRINT_HTM(2,0,"50%",200,"<body style='margin-top:0'>表格后面用<font color=blue>ADD_PRINT_HTM</font>附加其它备注</body>");
		
LODOP.SET_PRINT_STYLEA(0,"LinkedItem",-1);
		LODOP.PREVIEW();
	};		
	function check(thisValue){
	  iRadioValue=thisValue;
	}
</script>
</body>

</html>
