<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css?v={$version}" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/system/authority.css">
</head>
<body>
	<div class="authority">
		<h3>平台管理员权限设置</h3>
		<div class="container-fluid">
			<div class="col-xs-12 front_mg">
				<input type="checkbox" class="fl w-18 h-18" />
				<span class="fs-18 fl sp-l">首页管理</span>
			</div>
			<div class="col-xs-12 content_mg">
				<div class="cf">
					<input type="checkbox" class="fl w-18 h-18" />
					<span class="fs-18 fl sp-l">内容管理</span>
				</div>
				<div>
					<div class="cf mt30">
						<input type="checkbox" class="fl w-15 h-15" />
						<span class="fs-16 fl sp-s">文档列表</span>
					</div>
					<ul class="cf mt20">
						<li class="ml36 fl mt10">
							<input type="checkbox" class="fl w-15 h-15" />
							<span class="fs-16 fl sp-s">新增</span>
						</li>
						<li class="ml36 fl mt10">
							<input type="checkbox" class="fl w-15 h-15" />
							<span class="fs-16 fl sp-s">编辑</span>
						</li>
						<li class="ml36 fl mt10">
							<input type="checkbox" class="fl w-15 h-15" />
							<span class="fs-16 fl sp-s">改变状态</span>
						</li>
						<li class="ml36 fl mt10">
							<input type="checkbox" class="fl w-15 h-15" />
							<span class="fs-16 fl sp-s">保存</span>
						</li>
						<li class="ml36 fl mt10">
							<input type="checkbox" class="fl w-15 h-15" />
							<span class="fs-16 fl sp-s">保存草稿</span>
						</li>
						<li class="ml36 fl mt10">
							<input type="checkbox" class="fl w-15 h-15" />
							<span class="fs-16 fl sp-s">移动</span>
						</li>
						<li class="ml36 fl mt10">
							<input type="checkbox" class="fl w-15 h-15" />
							<span class="fs-16 fl sp-s">复制</span>
						</li>
						<li class="ml36 fl mt10">
							<input type="checkbox" class="fl w-15 h-15" />
							<span class="fs-16 fl sp-s">粘贴</span>
						</li>
						<li class="ml36 fl mt10">
							<input type="checkbox" class="fl w-15 h-15" />
							<span class="fs-16 fl sp-s">导入</span>
						</li>
						<li class="ml36 fl mt10">
							<input type="checkbox" class="fl w-15 h-15" />
							<span class="fs-16 fl sp-s">文档排序</span>
						</li>
						<li class="ml36 fl mt10">
							<input type="checkbox" class="fl w-15 h-15" />
							<span class="fs-16 fl sp-s">审核列表</span>
						</li>
					</ul>
					<div>
						<div class="cf mt30">
							<input type="checkbox" class="fl w-15 h-15" />
							<span class="fs-16 fl sp-s" style="margin-left:2px;">回收站</span>
						</div>
						<ul class="cf mt30">
							<li class="ml36 fl">
								<input type="checkbox" class="fl w-15 h-15" />
								<span class="fs-16 fl sp-s">还原</span>
							</li>
							<li class="ml36 fl">
								<input type="checkbox" class="fl w-15 h-15" />
								<span class="fs-16 fl sp-s">清空</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 user_mg">
				<div class="cf">
					<input type="checkbox" class="fl w-18 h-18" />
					<span class="fs-18 fl sp-l">用户管理</span>
				</div>
				<div>
					<div class="mt30 cf">
						<input type="checkbox" class="fl w-15 h-15" />
						<span class="fs-16 fl sp-s">用户信息</span>
					</div>
					<div class="ml36 mt30 cf">
						<input type="checkbox" class="fl w-15 h-15" />
						<span class="fs-16 fl sp-s">新增用户</span>
					</div>
				</div>
				<div>
					<div class="cf mt30">
						<input type="checkbox" class="fl w-15 h-15" />
						<span class="fs-16 fl sp-s">用户行为</span>
					</div>
					<ul class="cf mt20">
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">新增用户行为</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">编辑用户行为</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">保存用户行为</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">变更行为状态</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">禁用会员</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">启用会员</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">删除会员</span>
						</li>
					</ul>
				</div>
				<div>
					<div class="cf mt30">
						<input type="checkbox" class="fl w-14 h-14" />
						<span class="fs-14 fl sp-s">权限管理</span>
					</div>
					<ul  class="cf mt20">
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">删除</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">禁用</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">恢复</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">新增</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">编辑</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">保存用户组</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">授权</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">访问授权</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">成员授权</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">解除授权</span>
						</li>
						<li class="ml36 fl">
							<input type="checkbox" class="fl w-14 h-14" />
							<span class="fs-14 fl sp-s">保存成员</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>