<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>新增商品类型</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/base.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/common.css?v={$version}" />
    <style type="text/css">
.title-pop,.confirm-pop{background: #59ab76;}
    </style>
</head>

<body style="background:#fff;">
<div class="">
    <!-- title -->
    <div class="title-pop">新 增 商 品 类 型</div>
    <!-- 输入位置 -->
    <form action="__SELF__" method="post">
        <div class="mt40">
            <div class="form-group  cf">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <span class="fl w-90 text-right fs-14" style="padding: 15px 15px 0 0;">商品类型</span>
                    <div class="fl inline-block mt6 w-180" >
                        <input class="form-control" name="type_name" id="type_name"  type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt40">
            <div class="form-group">
                <div class="w50 text-center fl">
                    <input type="button" value="取 消"  class="cancel-pop" />
                </div>
                <div class="w50 text-center fl">
                    <input type="button" value="确 定" onclick="checkForm()" class="confirm-pop" />
                </div>
            </div>
        </div>
    </form>
</div>
<script src='__PUBLIC__/js/jquery.min.js' charset="UTF-8"></script>
<script src='__PUBLIC__/bootstrap/js/bootstrap.min.js' charset="UTF-8"></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript"> 
    $('.cancel-pop').click(function(){ 
        parent.layer.closeAll('iframe');
    });
    //表单验证
    function checkForm(){
        var type_name =$('#type_name').val(); 
        if(!type_name){
            layer.tips('请填写商品类型名称', '#type_name', {tips: 1});
            return false;
        } 
        $.post("{:U('Goods/goodsTypeVerify')}", { "type_name": type_name},function(data){
            if(data == 0){
                layer.tips('商品类型已存在', '#type_name', {tips: 1});
            }else if(data == 1){
                var index = layer.load(2,{time:1000});
                $.post("{:U('Goods/goodsTypeAdd')}", { "type_name": type_name},function(data){
                    if(data == 0){
                        parent.history.go(0);
                    }else{
                        layer.msg("添加失败");
                    }
                }, "json");
            }
        }, "json");
    }
</script>
</body>

</html>
