<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/base.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/common.css?v={$version}" />
</head>

<body style="background:#fff;">
<div class="">
    <!-- title -->
    <div class="title-pop">新增单位</div>
    <!-- 输入位置 -->
    <form action="__SELF__" method="post">
        <div class="mt40">
            <div class="form-group  cf">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <span class="fl w-90 text-right fs-14" style="padding: 15px 15px 0 0;">单位名称:</span>
                    <div class="fl inline-block mt6 w-180" >
                        <input class="form-control" name="brand_name" id="brand_name"  type="text" onchange="isBrandName()">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt40">
            <div class="form-group">
                <div class="w50 text-center fl">
                    <input type="button" value="取消"  class="cancel-pop" />
                </div>
                <div class="w50 text-center fl">
                    <input type="submit" value="确定" onclick="return checkForm()" class="confirm-pop" />
                </div>
            </div>
        </div>
    </form>
</div>
<script src='__PUBLIC__/js/jquery.min.js' charset="UTF-8"></script>
<script src='__PUBLIC__/bootstrap/js/bootstrap.min.js' charset="UTF-8"></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript">
    //表单验证
    function checkForm(){
        var brand_name =$('#brand_name').val(); 
        if(!brand_name){
            layer.tips('请填写单位名称', '#brand_name', {tips: 1});
            return false;
        }
        return true;
    }
    $('.cancel-pop').click(function(){ 
        parent.layer.closeAll('iframe');
    });
    //验证供应商类型是否存在
    function isBrandName(){
        var brand_name = $('#brand_name');
        $.post("{:U('Brand/isBrandName')}", { "brand_name": brand_name.val()},function(data){
            if(data == 0){
                layer.tips('单位已存在', '#brand_name', {tips: 1});
                brand_name.val('');
            }
        }, "json");
    }
</script>
</body>

</html>
