<!DOCTYPE html>
<html>
<head>
	<title>{$unit|getUnitName}采购单</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css?v={$version}" />
	<style type="text/css"> 
		.headcolor2 td{background-color: #404040 !important; border:1px solid #404040 !important;color: #fff;}
		/*table tr:nth-child(even){background-color: #e4e4e4;}
		table tr:nth-child(odd){background-color: #F5F5F5;}*/
		.tb-style{background-color: #f5f5f5; font-size:14px;}
		.tb-style td{border-bottom: 1px solid #d2d2d2; border-left: 1px solid #d2d2d2;}
		table tr:nth-child(even){background-color: #e4e4e4;}
		table tr:nth-child(odd){background-color: #F5F5F5;}
		.navbar-default {background-color: #fff;}
		.btn_color{background-color: #83c73c !important; border:1px solid #6db81f !important; letter-spacing: 1.5px;}
	    .btn_color:hover{background-color: #6db81f !important; border:1px solid #6db81f !important;}
	    .tb-style tbody tr:hover{    background-color: #c5edb1;}
	    .t-caption{background-color: #59ab76 !important; border: 1px solid #59ab76 !important; color: #fff;height:35px;}
	    .btn-style{background-color: #59ab76; border: 1px solid #3b9f5f;}
	    .btn-style:hover{background: linear-gradient(#3b9f5f,#3b9f5f);
	    background-image: linear-gradient(rgb(59, 159, 95), rgb(59, 159, 95));
	    background-position-x: initial;
	    background-position-y: initial;
	    background-size: initial;
	    background-repeat-x: initial;
	    background-repeat-y: initial;
	    background-attachment: initial;
	    background-origin: initial;
	    background-clip: initial;
	    background-color: initial;}
	    .a-jiantou-top{position: absolute; top: 2px;right: -15px;width:0;height:0;   border-left:5px solid transparent;   border-right:5px solid transparent;   border-bottom:5px solid #fff;}
	    .a-jiantou-bottom{position: absolute; bottom: 2px;right: -15px;width:0;height:0;   border-left:5px solid transparent;   border-right:5px solid transparent;   border-top:5px solid #fff;}
	    .noradius{border-radius: 0px;}
	    .ml5{margin-left: 5px;}
	    .ml20{margin-left: 20px;}
	    .col-md-2{width: auto;}
	    .col-xs-6{width: auto;}
	    .nav,select{letter-spacing: 1.5px;}  
	    h3 a{color: #59ab76;}
	    h3 a:hover{color:#59ab76;}
	    .t-table1 td{width:10%;} 
	    .td_clist{text-align: left !important;}
	    .td_clist span{margin-left:10px;float: left;}
	</style>
	<style type="text/css" id="style1">
		table {
			border-collapse: collapse;
		    width: 100%;
		    font-size: 12px;
		    background-color: #fff;
		    border: 1px solid #d0d0d0;
		}
		td,th {
			text-align: center;
			border: 1px solid #d0d0d0;  
		}
		td span{margin-left:10px;} 
		.td_clist{text-align: left !important;}
	    .td_clist span{margin-left:10px;}
	</style>
</head>
<body>
<div id="body_content">
	<div class="nav navbar-default">
		<div class="container-fluid">
			<h3 class="pr">采购单->按商品采购 &nbsp; 
				<a class="pa r0 t0" href="{:U('Purchase/purchaseReport1')}" />按客户采购</a>
			</h3>
			<div>
				<form id="form1" action="__SELF__" method="post">
					<div class="form-group ml15">
						<div class="row">
							<div class="ml15">
								<span class="fl mt8">日期</span>
								<input type="text" name="create_time" value="{$create_time}" id="create_time" class="form-control w-130 fl ml5 noradius">
							</div>  
							<div>
								<span class="fl mt8 ml20">客户类型</span>
								<select class="w-115 fl ml5" onchange="getCilentInfo(this.value)" name="ctid" id="ctid">
									<option value="">全部类型</option>
									<volist name="ctlist" id='vo'>
										<option value="{$vo.ctid}">{$vo.type_name}</option>
									</volist>
								</select> 
							</div>
							<div>
								<span class="fl mt8 ml20">客户名称</span>
								<select class="w-115 fl ml5" name="c_id" id="c_id">
									<option value="">全部</option>
								</select> 
							</div>   
							<div>
								<span class="fl mt8 ml10" >供应商类型</span>
								<select class="w-115 fl ml5" name="stid" id="stid" onchange="getSupplierInfo(this.value)">
									<option value="">全部类型</option>
									<volist name="stlist" id='vo'>
										<option value="{$vo.stid}">{$vo.type_name}</option>
									</volist>
								</select>
								<span class="fl mt8 ml10">供应商</span>
								<select class="w-115 fl ml5" name="sid" id="sid">
									<option value="">全部供应商</option> 
								</select> 
							</div>
							<div>
								<input type="text" name="gname" id="gname" value="{$gname}" placeholder="商品名" class="form-control w-120 fl ml5">
							</div> 
						</div>
					</div> 
					<div class="form-group ml15">
						<div> 
							<span class="fl mt8">商品类别</span>
							<select class="w-115 fl ml5" name="gtid" id="gtid" onchange="getTwoTypeInfo(this.value)">
								<option value="">一级全部</option>
								<volist name="tlist" id='vo'>
									<option value="{$vo.gtid}">{$vo.type_name}</option>
								</volist>
							</select>
							<select name="gtid1" id="gtid1"  class="w-115 fl ml5" onchange="getThreeTypeInfo(this.value)">
								<option value="">二级全部</option>
							</select>
							<select name="gtid2" id="gtid2" class="w-115 fl ml5">
								<option value="">三级全部</option> 
							</select>   
							<span class="fl fs-14 mt8 ml20">采用模式</span>
							<select class="w-115 fl ml5" name="sel_model" id="sel_model">
								<option value="0">数量+单位</option>
								<option value="1">单位备注</option> 
							</select>
							<select class="w-115 fl ml5" name="sel_model1" id="sel_model1">
								<option value="1">商品库存够显示</option>
								<option value="0">商品库存够不显示</option> 
							</select>
							<input type="hidden" name="hid_order" id="hid_order" value="{$hid_order}" />
							<input type="button" onclick="getPurchaseReportInfo()" class="btn btn-style ml20" value="搜 索" />
							<input type="button" class="btn btn-success ml20" onclick="printme()" value='打 印'/> 
							<input type="button" class="btn btn-success ml20" onclick="exportPurchase()" value='导 出' /> 
						</div>   
					</div>
				</form>
			</div>	
		</div>
	</div>
	<div class="container-fluid"> 
		<div id="divPrint">
			<table class="tb-style t-table"> 
				<thead>
					<tr class="t-caption">
						<th colspan="10" id="t-caption">采购单</th>
					</tr>
					<tr class="headcolor2">
						<td style="width:35px;" class="not-print">行号</td>  
						<td style="width:100px;" class="not-print">
							<span class="pr">
								供应商
								<a href="javascript:;" id="a_sname1" class="a-jiantou-top"></a>
								<a href="javascript:;" id="a_sname2" class="a-jiantou-bottom"></a>
							</span>
						</td>
						<td style="width:150px;" class="not-print">
							<span class="pr">
								商品类型
								<a href="javascript:;" id="a_gtname1" class="a-jiantou-top"></a>
								<a href="javascript:;" id="a_gtname2" class="a-jiantou-bottom"></a>
							</span>
						</td>
						<td style="width:150px;">
							<span class="pr">
								商品名称
								<a href="javascript:;" id="a_gname1" class="a-jiantou-top not-print"></a>
								<a href="javascript:;" id="a_gname2" class="a-jiantou-bottom not-print"></a>
							</span>
						</td> 
						<td style="width:70px;"  class="not-print">库存数</td>
						<td style="width:70px;">实购</td> 
						<td style="width:70px;">合计</td>
						<td>客户量</td> 
						<td style="width:70px;"  class="not-print">进价(元)</td>
						<td style="width:70px;">备注</td>
					</tr>
				</thead>
				<tbody id="tbody">  
					<tr><td colspan="10">请先搜索，赞无数据。</td></tr>
				</tbody>
			</table>
		</div> 
	</div>
</div>



	<script src='__PUBLIC__/js/jquery.min.js' charset="UTF-8"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js?v={$version}"></script>
	<script type="text/javascript" src="__PUBLIC__/js/scrolltop.js"></script>
    <script type="text/javascript" src="__PUBLIC__/date/laydate.dev.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/LodopFuncs.js"></script>
	<script type="text/javascript"> 
         
		//页面加载时
		$(function(){  
			 
		});
		$("#a_gname1").click(function(){
        	$("#hid_order").val("gname|asc"); 
        	getPurchaseReportInfo();
        });
        $("#a_gname2").click(function(){
        	$("#hid_order").val("gname|desc"); 
        	getPurchaseReportInfo();
        });
        $("#a_gtname1").click(function(){
        	$("#hid_order").val("gtname|asc"); 
        	getPurchaseReportInfo();
        });
        $("#a_gtname2").click(function(){
        	$("#hid_order").val("gtname|desc"); 
        	getPurchaseReportInfo();
        });
        $("#a_sname1").click(function(){
        	$("#hid_order").val("sname|asc");
        	getPurchaseReportInfo(); 
        });
        $("#a_sname2").click(function(){
        	$("#hid_order").val("sname|desc");
        	getPurchaseReportInfo(); 
        });

        function getPurchaseReportInfo(){ 
        	var create_time = $("#create_time").val(),
        		gtid = $("#gtid").val(),
        		gtid1 = $("#gtid1").val(),
        		gtid2 = $("#gtid2").val(),
        		gname = $("#gname").val(),
        		stid = $("#stid").val(),
        		sid = $("#sid").val(), 
        		ctid = $("#ctid").val(), 
        		c_id = $("#c_id").val(), 
        		hid_order = $("#hid_order").val();
        	if(!create_time){
        		layer.tips('请选择开始日期', '#create_time', {tips: 1});
				return;
        	} 
        	$("#t-caption").html(create_time + " 采购单");
        	var index = layer.msg('正在生成采购单,请稍后!', {
			    icon: 16,
			    shade: 0.01,
			    time:10000
			}); 
        	data ={"create_time":create_time,"gtid":gtid,"gtid1":gtid1,"gtid2":gtid2,"gname":gname,"stid":stid,"sid":sid,"ctid":ctid,"c_id":c_id,"hid_order":hid_order};
        	var url ="{:U('Purchase/getPurchaseReportInfo')}";
        	$.ajax({
	            type: "POST",
	            url: url,
	            data: data,
	            dataType: "json",
	            success: function(data){ 
	            	if(data.resultcode==0){ 
	            		var sel_model = $("#sel_model").val();
	            		var sel_model1 = $("#sel_model1").val();
	            		var str ="";
	            		var list = data.result; 
	            		var k=0;
	            		for(var i=0;i<list.length;i++){ 
	            			if(sel_model1==0 && (parseFloat(list[i].sum_num)-parseFloat(list[i].stock_num))<=0){

	            			}else{
	            				str+="<tr><td class='not-print'>"+(k+1)+"</td>";
		            			str+="<td class='not-print'>"+list[i].sname+"</td>";
		            			str+="<td class='not-print'>"+list[i].tname1;
		            			if(list[i].tname2){
		            				str+=">"+list[i].tname2;
		            			}
		            			if(list[i].tname3){
		            				str+=">"+list[i].tname3;
		            			}
		            			str+="</td>";
		            			var gname = list[i].gname;
		            			// if(gname.length>9){
		            			// 	gname = gname.substring(0,9);
		            			// }
		            			str+="<td>"+gname+"</td>";
		            			str+="<td class='not-print'>"+list[i].stock_num+"</td>";
		            			str+="<td>"+list[i].sg+"</td>";
		            			str+="<td>"+list[i].sum_num+"</td>";
		            			str+="<td class='td_clist'>";
		            			var clist = list[i].clist;
		            			for(var j=0;j<clist.length;j++){ 
		            				if(sel_model==0){
		            					str+="<span>"+clist[j].code+":"+clist[j].num1;
		            					if(clist[j].remark){
		            						str +="("+clist[j].remark+")";
		            					}
		            					str +=";</span>"; 
		            				}else{
		            					str+="<span>"+clist[j].code+":"+clist[j].p_remark+";</span>"; 
		            				}
		            			}
		            			str+="</td>";
		            			str+="<td class='not-print'></td>";//进价
		            			str+="<td></td></tr>";//备注
		            			k++; 
	            			}
	            		}
	            		$("#tbody").html(str);
	            	}else if(data.resultcode == 1){
	            		$("#tbody").html("<tr><td colspan='10'>无数据</td></tr>"); 
	            	}
                    // console.log(data);
	            },
	            error:function(msg){
	            	layer.msg("请求失败");
	            },complete: function () {
                    layer.close(index);
                }
	         });
        }

        function setTd(){
        	var tempSname =""; //中级变量
			var firstRow =0; 
			var kk = 1;
			var length = $(".td_sname").length;
			$(".td_sname").each(function(index,obj){
				var value =$(obj).html();
				if(tempSname==""){ 
					$(obj).attr("id","td"+firstRow);
				}else if(tempSname==value){
					//相同不处理 
					$(obj).remove();//移除本td
					kk++;
					if(index==length-1){ //最后一个
						$("#td"+firstRow).attr("rowspan",kk);
					}
				}else{
					//不相同处理td rowspan
					$("#td"+firstRow).attr("rowspan",kk);
					kk=1;
					firstRow++;
					$(obj).attr("id","td"+firstRow);
				}
				tempSname =value;
			});
        }

		//根据客户类型获取客户信息
		function getCilentInfo(ctid){
			if(ctid){
				$.post("{:U('Reports/getCilentInfo')}", { "ctid": ctid},function(data){
		            if(data.resultcode==0){
		                var result =data.result;
		                var str ='<option value="">全部类型</option>';
		                for(var i=0;i<result.length;i++){
		                    str +='<option value="'+result[i]['c_id']+'">'+result[i]['cname']+'</option>';
		                }
		                $("#c_id").html(str);  
		                var c_id = "{$c_id}";
		                $("#c_id").val(c_id);
		            }else{ 
				    	$("#c_id").html('<option value="">全部类型</option>');  
		            }
		        }, "json");
	        }else{
	        	$("#c_id").html('<option value="">全部类型</option>');  
	        }
		}

		var index =0,index1=0;	
		//根据1级类型编号获取二级分类
	    function getTwoTypeInfo(fid){ 
	    	var gtid1 = "{$gtid1}";
	    	if(fid){
		        $.post("{:U('Goods/getTwoTypeInfo')}", { "fid": fid},function(data){
		            if(data.resultcode==0){
		                var result =data.result;
		                var str ='<option value="">二级全部</option>';
		                for(var i=0;i<result.length;i++){
		                    str +='<option value="'+result[i]['gtid']+'">'+result[i]['type_name']+'</option>';
		                }
		                $("#gtid1").html(str); 
		                $("#gtid2").html('<option value="">三级全部</option>');
		                if(gtid1 && gtid1!="0"){
		                	if(index==0){
			                	$("#gtid1").val(gtid1);
			                	getThreeTypeInfo(gtid1);
			                	index++;
		                	}
		                }
		            }else{
		            	var str ='<option value="">二级全部</option>';
				    	$("#gtid1").html(str); 
		                $("#gtid2").html('<option value="">三级全部</option>');
		            }
		        }, "json");
		    }else{
		    	var str ='<option value="">二级全部</option>';
		    	$("#gtid1").html(str); 
                $("#gtid2").html('<option value="">三级全部</option>');
		    }
	    }

	    //根据二级类型编号获取三级分类
	    function getThreeTypeInfo(fid){ 
	    	var gtid2 ="{$gtid2}";
	    	if(fid){
		        $.post("{:U('Goods/getThreeTypeInfo')}", { "fid": fid},function(data){
		            if(data.resultcode==0){
		                var result =data.result;
		                var str ='<option value="">三级全部</option>';
		                for(var i=0;i<result.length;i++){
		                    str +='<option value="'+result[i]['gtid']+'">'+result[i]['type_name']+'</option>';
		                }
		                $("#gtid2").html(str);
		                if(gtid2 && gtid2!="0"){
		                	if(index1==0){
		                		$("#gtid2").val(gtid2);
		                		index1++;
		                	}
		                } 
		            }else{
		            	var str ='<option value="">三级全部</option>';
		    			$("#gtid2").html(str);
		            }
		        }, "json");
		    }else{
		    	var str ='<option value="">三级全部</option>';
		    	$("#gtid2").html(str);
		    }
	    } 


	    //根据供应商类型获取供应商信息
	    function getSupplierInfo(stid){ 
	    	if(stid){
		    	$.post("{:U('Purchase/getSupplierInfo')}", { "stid": stid},function(data){
		            if(data.resultcode==0){
		                var result =data.result;
		                var str ='<option value="">全部供应商</option>';
		                for(var i=0;i<result.length;i++){
		                    str +='<option value="'+result[i]['sid']+'">'+result[i]['name']+'</option>';
		                }
		                $("#sid").html(str);
		                var sid = "{$sid}";
		                if(sid && sid!="0"){ 
	                		$("#sid").val(sid); 
		                } 
		            }else{
		            	var str ='<option value="">全部供应商</option>';
		    			$("#sid").html(str);
		            }
		        }, "json"); 
	        }else{
	        	var str ='<option value="">全部供应商</option>';
    			$("#sid").html(str);
	        }
	    }
 
		laydate({ 
            elem: '#create_time' 
        }); 

		function printme(){     
			var index = layer.msg('正在打印，请稍后', {
			    icon: 16,
			    shade: 0.01,
			    time: 3000
			});
			$(".not-print").hide();
			$("table tr").each(function(index,value){
				if(index%2==0){
					$(value).css("background-color","#e4e4e4");
				}else{
					$(value).css("background-color","#fff"); 
				} 
			}); 
			var strBodyStyle="<style>"+$("#style1").html()+"</style>";
			var strFormHtml=strBodyStyle+"<body>"+$("#divPrint").html()+"</body>";

			LODOP=getLodop();  
			LODOP.PRINT_INIT("purchaseReport采购单");
			LODOP.ADD_PRINT_TABLE(0,0,"100%","95%",strFormHtml);  		
			LODOP.PREVIEW(); 
			if (LODOP.CVERSION){
				CLODOP.On_Return = function(TaskID, Value) {
		            if(Value==0 || Value==1){
		            	$(".not-print").show();  
		            }
		        }
			} 
		} 
		//导出excel
        function exportPurchase(){
        	var create_time = $("#create_time").val(), 
        		brand_name = $("#brand_name").val(),
        		ctid =$("#ctid").val(),
        		c_id = $("#c_id").val(), 
        		gtid = $("#gtid").val(),
        		gtid1 = $("#gtid1").val(),
        		gtid2 = $("#gtid2").val(),
        		tcaption = $("#tcaption").val(),
        		gname = $("#gname").val();   

			var url = "?create_time="+create_time+"&brand_name="+brand_name+"&c_id="+c_id+"&gtid="+gtid+"&gtid1="+gtid1+"&gtid2="+gtid2+"&gname="+gname+"&tcaption="+tcaption+"&ctid="+ctid;  
        } 

	</script>
</body>
</html>