<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css?v={$version}" />
	<style type="text/css">
			.btn-list.active{position: fixed;right: 0;top: 0;z-index: 20;width: 100%;background: #fff;box-shadow: 0 1px 5px #c5c5c5;padding-top: 10px;}
		.btn-list button{outline: none;width: 100px;height: 32px;margin-right: 20px;margin-bottom: 10px;}
		.f-spec-box{width:260px;margin:0 auto;text-align: right;height:250px;}
		.spec-submit{position:fixed;bottom:0;left:0;width:100%;height:50px;background:#fff;text-align: center;}
		.nspec-box{width:600px;margin:auto;}
		/*.nspec-box-spec{float:left;}*/
		.nspec-box-eq{float:left;width:60px;text-align: center;}
		input{border: none !important;outline: none;}
		table{border-collapse: collapse;width: 100%;font-size: 14px;background-color: #f5f5f5;border:1px solid #d2d2d2; letter-spacing: 1.5px;}
		table td{border-left:1px solid #d2d2d2;border-bottom: 1px solid #d2d2d2;text-align: center;height: 40px;}  
		tr.green-bg{background:#59ab76; color: #fff;}
		tr.gray-bg{background:#e5e4e4;}
		table tr:nth-child(even){background:#e4e4e4;}  
		/*入库出库文本框*/
		.stock-txt{padding: 0 0px;height: 35px;box-sizing: border-box;text-align: center;background:none;font-size:12px;}
		.headcolor2 td{background-color: #404040; border:1px solid #404040;color: #fff;}
	table tr:nth-child(even){background-color: #e4e4e4;}
	.tb-style{background-color: #f5f5f5;}
	.tb-style td{border-bottom: 1px solid #d2d2d2; border-left: 1px solid #d2d2d2;}
	.navbar-default {background-color: #fff;}
	.btn-style{background-color: #59ab76;border:1px solid #3b9f5f; letter-spacing: 1.5px; border-radius: 4px;}
	.btn-style:hover{linear-gradient(#3b9f5f,#3b9f5f);
    background-image: linear-gradient(rgb(59, 159, 95), rgb(59, 159, 95));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;}
    .btn_color{background-color: #83c73c !important; border:1px solid #6db81f !important;}
    .btn_color:hover{linear-gradient(#6db81f,#6db81f);
    background-image: linear-gradient(rgb(109, 184, 31), rgb(109, 184, 31));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;}
    .btn_color2{background-color: #feb235 !important; border:1px solid #e5920b !important;}
    .btn_color2:hover{linear-gradient(#e5920b,#e5920b);
    background-image: linear-gradient(rgb(229, 146, 11), rgb(229, 146, 11));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;}
    .headcolor td{background-color: #59ab76; border:1px solid #59ab76; color: #fff;}
    .btn2{width: 60px !important;}
	</style>
</head>
<body>
<div id="body_content">
<div class="container-fluid h-60" style="background-color:#fff;">
	<h3 style="border:none;">订单->编辑</h3>
</div>
<div class="container-fluid mt20">
	<div class="cf btn-list">
		<button class="fr btn-style btn2" style="z-index:101;position: relative;" onclick="printme()">打 印</button>
		<button class="fr btn-style btn2" style="z-index:101;position: relative;" onclick="exportJoinStock()">导 出</button>  
		<button class="fr btn-style btn2" onclick="savePurchase(0)">保 存</button>
		<button class="fr btn-style" onclick="savePurchase(1)">生成出库单</button> 
		<button class="fr btn-style data btn_color">数据列设置</button>
		<button class="fr btn-style btn_color2" onclick="addGoods()">新增商品</button>  
		<button class="fr btn-style btn_color" onclick="backPage()">返回</button>  
		<input type="hidden" id="hid_than" value="{$list[0].hid_than}" /> 
	</div>
	<div id="divPrint">
	<div class="col-xs-12">
		<table class="">
			<thead>
			<tr class="green-bg">
				<if condition="$osList.osid_s eq 0">
					<td class="w-150 t_osid_p">{$titles.osid}</td>
					<else />
					<td class="w-150 none t_osid_p">{$titles.osid}</td>
				</if>
				<if condition="$osList.osname_s eq 0">
					<td class="w-250 t_osname_p">{$titles.osname}</td>
				<else />
					<td class="w-250 none t_osname_p">{$titles.osname}</td>
				</if>
				<if condition="$osList.cname_s eq 0">
					<td class="w-300 t_cname_p">{$titles.cname}</td>
					<else />
					<td class="w-300 none t_cname_p">{$titles.cname}</td>
				</if>
				<if condition="$osList.ctime_s eq 0">
					<td class="w-200 t_ctime_p">{$titles.ctime}</td>
					<else />
					<td class="w-200 none t_ctime_p">{$titles.ctime}</td>
				</if>
				<if condition="$osList.remark_s eq 0">
					<td class="t_remark_p">{$titles.remark}</td>
					<else />
					<td class="t_remark_p none">{$titles.remark}</td>
				</if>
				<if condition="$osList.total_s eq 0">
					<td class="w-120 t_total_p">{$titles.total}</td>
					<else />
					<td class="w-120 none t_total_p">{$titles.total}</td>
				</if>
			</tr>
			</thead>
			<tbody>
			<tr>
				<if condition="$osList.osid_s eq 0">
					<td class="t_osid_p"><input type="text" class="stock-txt w100 " readonly value="{$osid}" id="osid" name="osid" data-id="1" /></td>
					<else />
					<td class="none t_osid_p"><input type="text" class="stock-txt w100" readonly value="{$osid}" id="osid" name="osid" data-id="2" /></td>
				</if>
				<if condition="$osList.osname_s eq 0">
					<td class="t_osname_p"><input type="text" class="stock-txt w100 " value="{$list[0].osname}" id="osname" name="osname" /></td> 
				<else />
					<td class="none t_osname_p"><input type="text" class="stock-txt w100" value="{$list[0].osname}" id="osname" name="osname" /></td> 
				</if>
				<if condition="$osList.cname_s eq 0">
					<td class="t_cname_p">
						<div class="nspec-box-spec pr" >
							<input type="text" id="txt_cid" onkeyup="publicSearch.textCall(this,cbackCall)" name="" data-name="name" data-id="c_id" data-li-class="select-sreach-list-fl25"  data-page="getClient" value="{$list[0].cname}" class=" select-sreach-input stock-txt" style="width:100%;" />
							<span class="select-sreach-btn" onclick="publicSearch.btnCall(this,cbackCall)"></span>
							<ul class="select-sreach-list cf none" title="4" id="ul4" style="width: 500px;margin-right:-50px;"></ul>
							<input type="hidden" class="hid" value="{$list[0].cid}" id="cid"/>
						</div>
					</td>
					<else />
					<td class="t_cname_p none">
						<div class="nspec-box-spec pr" >
							<input type="text" id="txt_cid" onkeyup="publicSearch.textCall(this,cbackCall)" name="" data-name="name" data-id="c_id" data-li-class="select-sreach-list-fl25"  data-page="getClient" value="{$list[0].cname}" class=" select-sreach-input stock-txt" style="width:100%;" />
							<span class="select-sreach-btn" onclick="publicSearch.btnCall(this,cbackCall)"></span>
							<ul class="select-sreach-list cf none" title="4" id="ul4" style="width: 500px;margin-right:-50px;"></ul>
							<input type="hidden" class="hid" value="{$list[0].cid}" id="cid"/>
						</div>
					</td>
				</if>
				<if condition="$osList.ctime_s eq 0">
					<td class="t_ctime_p">
						<input type="text" name="" id="date" value="{$list[0].create_time|date='Y-m-d',###}" class="stock-txt w100">
					</td>
					<else />
					<td class="t_ctime_p none">
						<input type="text" name="" id="date" value="{$list[0].create_time|date='Y-m-d',###}" class="stock-txt w100">
					</td>
				</if>
				<if condition="$osList.remark_s eq 0">
					<td class="t_remark_p">
						<input type="text" name="" id="remark" value="{$list[0].remarkf}"  class="stock-txt w100">
					</td>
					<else />
					<td class="t_remark_p none">
						<input type="text" name="" id="remark" value="{$list[0].remarkf}"  class="stock-txt w100">
					</td>
				</if>
				<if condition="$osList.total_s eq 0">
					<td class="t_total_p">
						<input type="number" name="" value="{$list[0].totalf}" id="total" readonly class="stock-txt w100">
					</td>
					<else />
					<td class="t_total_p none">
						<input type="number" name="" value="{$list[0].totalf}" id="total" readonly class="stock-txt w100">
					</td>
				</if>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-12 mt50">
		<table class="t-table" id="table">
			<thead>
			<tr class="green-bg headcolor2">
				<td class="w-50">序号</td>
				<if condition="$osbList.gname_s eq 0">
					<td class="w-200 b_gname_p">{$t_list.gname}</td>
					<else />
					<td class="w-200 b_gname_p none">{$t_list.gname}</td>
				</if>
				<if condition="$osbList.alias_s eq 0">
					<td class="w-150 b_alias_p">{$t_list.alias}</td>
					<else />
					<td class="w-150 b_alias_p none">{$t_list.alias}</td>
				</if>
				<if condition="$osbList.bname_s eq 0">
					<td class="w-80 b_bname_p">{$t_list.bname}</td>
					<else />
					<td class="w-80 b_bname_p none">{$t_list.bname}</td>
				</if>
				<if condition="$osbList.uname_s eq 0">
					<td class="w-80 b_uname_p">{$t_list.uname}</td>
					<else />
					<td class="w-80 b_uname_p none">{$t_list.uname}</td>
				</if> 
				<!-- 是否加工 -->
				<if condition="$osbList.machining_s eq 0">
					<td class="w-80 b_machining_p">{$t_list.machining}</td>
				<else />
					<td class="w-80 b_machining_p none">{$t_list.machining}</td>
				</if>
						
				<if condition="$osbList.num_s eq 0">
					<td class="w-80 b_num_p">{$t_list.num}</td>
					<else />
					<td class="w-80 b_num_p none">{$t_list.num}</td>
				</if>

				<!-- 备用数量 -->
				<if condition="$osbList.num1_s eq 0">
					<td class="w-80 b_num1_p">{$t_list.num1}</td>
				<else />
					<td class="w-80 b_num1_p none">{$t_list.num1}</td>
				</if> 

				<!-- 单位备注 -->
				<td class="w-80">单位备注</td>

				<if condition="$osbList.than_s eq 0">
					<td class="w-80 b_than_p">{$t_list.than}</td>
					<else />
					<td class="w-80 b_than_p none">{$t_list.than}</td>
				</if>
				<if condition="$osbList.price_s eq 0">
					<td class="w-80 b_price_p">{$t_list.price}</td>
					<else />
					<td class="w-80 b_price_p none">{$t_list.price}</td>
				</if>
				<if condition="$osbList.tax_price_s eq 0">
					<td class="w-80 b_tax_price_p">{$t_list.tax_price}</td>
					<else />
					<td class="w-80 b_tax_price_p none">{$t_list.tax_price}</td>
				</if>
				<if condition="$osbList.cd_num_s eq 0">
					<td class="w-80 b_cd_num_p">{$t_list.cd_num}</td>
					<else />
					<td class="w-80 b_cd_num_p none">{$t_list.cd_num}</td>
				</if>
				<!-- 毛重 --> 
				<if condition="$osbList.rweight_s eq 0">
					<td class="w-80 b_rweight_p">{$t_list.rweight}</td>
				<else />
					<td class="w-80 b_rweight_p none">{$t_list.rweight}</td>
				</if>

				<if condition="$osbList.stock_s eq 0">
					<td class="w-80 b_stock_p">{$t_list.stock}</td>
					<else />
					<td class="w-80 b_stock_p none">{$t_list.stock}</td>
				</if>
				<if condition="$osbList.remarkb_s eq 0">
					<td class="b_remarkb_p" style="min-width:40px;">{$t_list.remarkb}</td>
				<else />
					<td class="b_remarkb_p none" style="min-width:40px;">{$t_list.remarkb}</td>
				</if>
				<if condition="$osbList.totalb_s eq 0">
					<td class="w-80 b_totalb_p">{$t_list.totalb}</td>
					<else />
					<td class="w-80 b_totalb_p none">{$t_list.totalb}</td>
				</if>
				<td class="w-80">操作</td>
			</tr>
			</thead>
			<tbody>
			<?php $kkk=0; ?>
			<volist name="list" id="vo">
				<?php $kkk +=1; ?>
				<tr>
					<td class="pr"> 
						<span class="td_xh">{$key+1}</span>
					</td>
					<if condition="$osbList.gname_s eq 0">
						<td class="td_goods_name b_gname_p">
							<div class="nspec-box-spec pr" >
								<input type="text"  onkeyup="selectSpec(1,this)" data-li-class="select-sreach-list-fl50" name="" data-name="name" data-layer="1"  data-id="wgid" data-page="getGoodsInfoOut" class="stock-txt select-sreach-input " style="width:100%;" value="{$vo.gname}" />
								<!-- <span class="select-sreach-btn"  onclick="selectSpec(2,this)"></span> -->
								<ul class="select-sreach-list cf none" title="4" id="ul4" style="width: 400px;margin-right: -150px;"></ul>
								<input type="hidden" name="wgids" class="hid" value="{$vo.wgid}"  />
							</div>
						</td>
					<else/>
						<td class="td_goods_name b_gname_p none">
							<div class="nspec-box-spec pr" >
								<input type="text" onkeyup="selectSpec(1,this)" data-li-class="select-sreach-list-fl50" name="" data-name="name" data-layer="1"  data-id="wgid" data-page="getGoodsInfoOut" class="stock-txt select-sreach-input " style="width:100%;" value="{$vo.gname}" />
								<!-- <span class="select-sreach-btn"  onclick="selectSpec(2,this)"></span> -->
								<ul class="select-sreach-list cf none" title="4" id="ul4" style="width: 400px;margin-right: -150px;"></ul>
								<input type="hidden" name="wgids" class="hid" value="{$vo.wgid}"  />
							</div>
						</td>
					</if>
					<if condition="$osbList.alias_s eq 0">
						<td class="td_alias b_alias_p">
							<input type="text" name="alias" value="{$vo.alias}" class="stock-txt w100 ">
						</td>
					<else />
						<td class="td_alias b_alias_p none">
							<input type="text" name="alias" value="{$vo.alias}" class="stock-txt w100 ">
						</td>
					</if>
					<if condition="$osbList.bname_s eq 0">
							<td class="td_brand b_bname_p">{$vo.brand_name}</td>
						<else/>
							<td class="td_brand b_bname_p none">{$vo.brand_name}</td>
					</if>
					<if condition="$osbList.uname_s eq 0"> 
						<td class="td_unit_id b_uname_p">
							<select name="nei_unit_id" onchange="specChange(this)"> 
								<volist name="vo['usub']" id="v" >
									<if condition="$vo['nei_unit_id'] eq $v['unit_id']">
										<option data-nei_num="{$v.num}" selected value="{$v.unit_id}">{$v.uname}</option>
									<else />
										<option data-nei_num="{$v.num}" value="{$v.unit_id}">{$v.uname}</option>
									</if>
								</volist>
							</select> 
							<input type="hidden" name="unit_id" value="{$vo.unit_id1}" />
							<input type="hidden" class="jcprice" value="{$vo.price}" /> 
						</td>
					<else/>
						<td class="td_unit_id b_uname_p none">
							<select name="nei_unit_id" onchange="specChange(this)"> 
								<volist name="vo['usub']" id="v" >
									<if condition="$vo['nei_unit_id'] eq $v['unit_id']">
										<option data-nei_num="{$v.num}" selected value="{$v.unit_id}">{$v.uname}</option>
									<else />
										<option data-nei_num="{$v.num}" value="{$v.unit_id}">{$v.uname}</option>
									</if>
								</volist>
							</select> 
							<input type="hidden" name="unit_id" value="{$vo.unit_id1}" />
							<input type="hidden" class="jcprice" value="{$vo.price}" />  
						</td>
					</if>
					<!-- 是否加工 -->
					<if condition="$osbList.machining_s eq 0">
						<td class="td_machining b_machining_p">
							<select name="machinings" class="">
								<if condition="$vo.machining eq 0">
									<option value="0" selected="selected">不加工</option>
								<else />
									<option value="0">不加工</option>
								</if>
								<if condition="$vo.machining eq 1">
									<option value="1" selected="selected">加工</option>
								<else />
									<option value="1">加工</option>
								</if>
							</select>
						</td>
					<else />
						<td class="td_machining b_machining_p none">
							<select name="machinings" disabled class="">
								<if condition="$vo.machining eq 0">
									<option value="0" selected="selected">不加工</option>
								<else />
									<option value="0">不加工</option>
								</if>
								<if condition="$vo.machining eq 1">
									<option value="1" selected="selected">加工</option>
								<else />
									<option value="1">加工</option>
								</if> 
							</select>
						</td>
					</if>

					<if condition="$osbList.num_s eq 0">
						<td class="td_num b_num_p">
							<input type="text" value="{$vo['num1']/$vo['nei_num']|keep4}" name="num1s" class="stock-txt w100 t-number">
						</td>
					<else/>
						<td class="td_num b_num_p none">
							<input type="text" value="{$vo['num1']/$vo['nei_num']|keep4}" name="num1s" class="stock-txt w100 t-number">
						</td>
					</if>
					<!-- 备用数量 -->
					<if condition="$osbList.num1_s eq 0">
						<td class="td_num1 b_num1_p">
							<input type="text" value="{$vo['num2']/$vo['nei_num']|keep4}" name="num2s" class="stock-txt w100  t-number">
						</td>
					<else />
						<td class="td_num1 b_num1_p none">
							<input type="text" value="{$vo['num2']/$vo['nei_num']|keep4}" name="num2s" class="stock-txt w100  t-number">
						</td>
					</if>
					<td class="td_p_remark">
						<input type="text" maxlength="10" value="{$vo.p_remark}" name="p_remarks" class="stock-txt w100" />
					</td>
					<if condition="$osbList.than_s eq 0">
							<td class="td_than b_than_p">
								<input type="text" value="{$vo.than|keep4}" name="thans" class="stock-txt w100 t-number">
							</td>
						<else/>
							<td class="td_than b_than_p none">
								<input type="text" value="{$vo.than|keep4}" name="thans" class="stock-txt w100 t-number">
							</td>
					</if>
					<if condition="$osbList.price_s eq 0">
							<td class="td_price b_price_p">
								<input type="text" value="{$vo.nei_price|keep4}" name="prices" class="stock-txt w100 t-number">
							</td>
						<else/>
							<td class="td_price b_price_p none">
								<input type="text" value="{$vo.nei_price|keep4}" name="prices" class="stock-txt w100 t-number">
							</td>
					</if>
					<if condition="$osbList.tax_price_s eq 0">
						<td class="td_tax_price b_tax_price_p">{$vo['nei_price']*$vo['than']|keep4}</td>
					<else />
						<td class="td_tax_price b_tax_price_p none">{$vo['nei_price']*$vo['than']|keep4}</td>
					</if>
					<if condition="$osbList.cd_num_s eq 0">
							<td class="td_cdnum b_cd_num_p">
								<input type="text" value="{$vo['cd_num']/$vo['nei_num']|keep4}" name="cdnums" class="stock-txt w100 t-number">
							</td>
						<else/>
							<td class="td_cdnum b_cd_num_p none">
								<input type="text" value="{$vo['cd_num']/$vo['nei_num']|keep4}" name="cdnums" class="stock-txt w100 t-number">
							</td>
					</if>
					<!-- 毛重 -->
					<if condition="$osbList.rweight_s eq 0">
						<td class="td_rweight b_rweight_p">{$vo['cd_num']+$vo['num1']|keep4}</td> 
					<else />
						<td class="td_rweight b_rweight_p none">{$vo['cd_num']+$vo['num1']|keep4}</td> 
					</if>

					<if condition="$osbList.stock_s eq 0">
							<td class="td_stock_num b_stock_p">
								<input type="text" readonly value="{$vo.stock_num|keep4}" name="stock_nums" class="stock-txt w100 t-number" /> 
							</td>
						<else/>
							<td class="td_stock_num b_stock_p none">
								<input type="text" readonly value="{$vo.stock_num|keep4}" name="stock_nums" class="stock-txt w100 t-number" /> 
							</td>
					</if>
					<if condition="$osbList.remarkb_s eq 0">
							<td class="td_remark b_remarkb_p">
								<input type="text" value="{$vo.remark}" name="remarks" class="stock-txt w100 ">
							</td>
						<else/>
							<td class="td_remark b_remarkb_p none">
								<input type="text" value="{$vo.remark}" name="remarks" class="stock-txt w100 ">
							</td>
					</if>
					<if condition="$osbList.totalb_s eq 0">
							<td class="td_sum b_totalb_p">
								<input type="text" value="{$vo.totalx|keep4}" readonly name="sums" class="stock-txt w100 t-number">
							</td>
						<else/>
							<td class="td_sum b_totalb_p none">
								<input type="text" value="{$vo.totalx|keep4}" readonly name="sums" class="stock-txt w100 t-number">
							</td>
					</if>
					<td>
						<a href="javascript:;" onclick="removeTr(this)" class="a_del">
							<img src="__PUBLIC__/img/a-del.png" />
						</a>
					</td>
				</tr>
			</volist>
			<for start="1" end="100">
				<tr class="not-print">
					<td class="pr"> 
						<span class="td_xh">{$i+$kkk}</span>
					</td>  
					<if condition="$osbList.gname_s eq 0">
						<td class="td_goods_name b_gname_p">
							<div class="nspec-box-spec pr" >
								<input type="text" onkeyup="selectSpec(1,this)" data-li-class="select-sreach-list-fl50" name="" data-name="name" data-layer="1"  data-id="wgid" data-page="getGoodsInfoOut" class="stock-txt select-sreach-input " style="width:100%;" /> 
								<!-- <span class="select-sreach-btn"  onclick="selectSpec(2,this)"></span> -->
								<ul class="select-sreach-list cf none" title="4" id="ul4" style="width: 400px;margin-right: -150px;"></ul>
								<input type="hidden" name="wgids" class="hid"  />
							</div>
						</td>
					<else />
						<td class="td_goods_name b_gname_p none">
							<div class="nspec-box-spec pr" >
								<input type="text" onkeyup="selectSpec(1,this)" data-li-class="select-sreach-list-fl50" name="" data-name="name" data-layer="1"  data-id="wgid" data-page="getGoodsInfoOut" class="stock-txt select-sreach-input " style="width:100%;" /> 
								<!-- <span class="select-sreach-btn"  onclick="selectSpec(2,this)"></span> -->
								<ul class="select-sreach-list cf none" title="4" id="ul4" style="width: 400px;margin-right: -150px;"></ul>
								<input type="hidden" name="wgids" class="hid"  />
							</div>
						</td>	
					</if>
					<if condition="$osbList.alias_s eq 0">
						<td class="td_alias b_alias_p">
							<input type="text" name="alias" class="stock-txt w100 ">
						</td>
					<else />
						<td class="td_alias b_alias_p none">
							<input type="text" name="alias" class="stock-txt w100 ">
						</td>
					</if>
					<if condition="$osbList.bname_s eq 0">
						<td class="td_brand b_bname_p"></td>
					<else/>
						<td class="td_brand b_bname_p none"></td>
					</if>
					<if condition="$osbList.uname_s eq 0">
						<td class="td_unit_id b_uname_p"><select class="none"></select></td>
					<else /> 
						<td class="td_unit_id b_uname_p none"><select class="none"></select></td>
					</if>
					<!-- 是否加工 -->
					<if condition="$osbList.machining_s eq 0">
						<td class="td_machining b_machining_p">
							<select name="machinings" class="none">
								<option value="0">不加工</option>
								<option value="1">加工</option>
							</select>
						</td>
					<else />
						<td class="td_machining b_machining_p none">
							<select name="machinings" disabled class="none">
								<option value="0">不加工</option>
								<option value="1">加工</option>
							</select>
						</td>
					</if>
					<if condition="$osbList.num_s eq 0">
						<td class="td_num b_num_p">
							<input type="text" name="num1s" class="stock-txt w100 t-number">
						</td>
					<else />
						<td class="td_num b_num_p none">
							<input type="text" name="num1s" class="stock-txt w100 t-number">
						</td>
					</if>
					<!-- 备用数量 -->
					<if condition="$osbList.num1_s eq 0">
						<td class="td_num1 b_num1_p">
							<input type="text" name="num2s" class="stock-txt w100  t-number">
						</td>
					<else />
						<td class="td_num1 b_num1_p none">
							<input type="text" name="num2s" class="stock-txt w100  t-number">
						</td>
					</if>

					<td class="td_p_remark">
						<input type="text" maxlength="10" name="p_remarks" class="stock-txt w100" />
					</td>

					<if condition="$osbList.than_s eq 0">
						<td class="td_than b_than_p">
							<input type="text" name="thans" class="stock-txt w100 t-number">
						</td>
					<else />
						<td class="td_than b_than_p none">
							<input type="text" name="thans" class="stock-txt w100 t-number">
						</td> 
					</if>
					<if condition="$osbList.price_s eq 0">
						<td class="td_price b_price_p">
							<input type="text" name="prices" class="stock-txt w100 t-number">
						</td>  
					<else /> 
						<td class="td_price b_price_p none">
							<input type="text" name="prices" class="stock-txt w100 t-number">
						</td>  
					</if>
					<if condition="$osbList.tax_price_s eq 0">
						<td class="td_tax_price b_tax_price_p"></td>
					<else />
						<td class="td_tax_price b_tax_price_p none"></td>
					</if> 
					<if condition="$osbList.cd_num_s eq 0">
						<td class="td_cdnum b_cd_num_p">
							<input type="text" name="cdnums" class="stock-txt w100 t-number">
						</td>
					<else />
						<td class="td_cdnum b_cd_num_p none">
							<input type="text" name="cdnums" class="stock-txt w100 t-number">
						</td>
					</if>
					<!-- 毛重 -->
					<if condition="$osbList.rweight_s eq 0">
						<td class="td_rweight b_rweight_p"></td> 
					<else />
						<td class="td_rweight b_rweight_p none"></td> 
					</if>

					<if condition="$osbList.stock_s eq 0">
						<td class="td_stock_num b_stock_p">
							<input type="number" readonly name="stock_nums" class="stock-txt w100 ">
							<input type="hidden" class="stock_num" value="" >
						</td> 
					<else />
						<td class="td_stock_num b_stock_p none">
							<input type="number" readonly name="stock_nums" class="stock-txt w100 ">
							<input type="hidden" class="stock_num" value="" >
						</td> 
					</if>
					<if condition="$osbList.remarkb_s eq 0">
						<td class="td_remark b_remarkb_p">
							<input type="text" name="remarks" class="stock-txt w100 ">
						</td>
					<else />
						<td class="td_remark b_remarkb_p none">
							<input type="text" name="remarks" class="stock-txt w100 ">
						</td>
					</if>
					<if condition="$osbList.totalb_s eq 0">
						<td class="td_sum b_totalb_p"> 
							<input type="text" name="sums" readonly class="stock-txt w100  t-number">
						</td> 
					<else />
						<td class="td_sum b_totalb_p none"> 
							<input type="text" name="sums" readonly class="stock-txt w100  t-number">
						</td>
					</if>
					<td>
						<a href="javascript:;" onclick="removeTr(this)" class="a_del none">
							<img src="__PUBLIC__/img/a-del.png" />
						</a>
					</td>
				</tr>
			</for>
			</tbody>
		</table>
	</div>
	</div>
</div>
</div>
<!-- 遮罩层 -->
<div id="div_zzc" class="t-zzc none">
	<img src="__PUBLIC__/img/icon-ybc.png"  style="margin-top: 150px;margin-left: 150px;" /> 
</div>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js?v={$version}"></script>
<script type="text/javascript" src="__PUBLIC__/date/laydate.dev.js"></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/area.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/areapublic.js"></script> 
<script type="text/javascript">
	function addGoods(){
		layer.open({
			type: 2,
			closeBtn: 1,
			area: ['1100px', '500px'],
			title: false,
			content: '__APP__/WholesaleAdmin/Goods/goodsAdd.html?pageState=1'
		});
	}
	//页面加载时
	$(function(){
		calculateSum();
	});
	laydate({
		elem: '#date'
	});

	// 滚动条事件-导航栏
	window.onscroll=function(){
		var t =document.documentElement.scrollTop||document.body.scrollTop;
		if(t>130){
			$(".btn-list").addClass("active");
		}else{
			$(".btn-list").removeClass("active");
		}
	}

	function cbackCall(){
		var cid = $("#cid").val();
		getClientContractInfo(cid);
	}

	function selectSpec(num,obj){
		var e=window.event||event; 
		if(e.keyCode==27)
			return; 
		var cid = $("#cid").val();
		if(cid==""){
			layer.msg("请先选择客户");
			$(obj).val("");
			return;
		}
		if(num==1){
			publicSearch.textCall(obj,backCall,cid);
		}else{
			publicSearch.btnCall(obj,backCall,cid);
		}
	}
	//表格中的上下左右键切换input的焦点
	new tabTableInput("table", "text");

	//获取商品库存剩余量
	function getStockNum(tr){
		var wgid = tr.find("input[name='wgids']").val(); 
		var num1 =tr.find("input[name='num1s']").val(); 
		var url = "{:U('Api/Public/getStockNum')}";
		$.post(url, {'wgid':wgid}, function(data) { 
			if (data.resultcode == 0) {
				var snum = data.result.num1; //商品库存剩余数量
				var data = [];
				var ii =0;
				$("input[name='wgids']").each(function(index,value){
					var swgid = $(value).val();
					if(swgid!=""){
						if(swgid==wgid){
							var tr1 = $(value).parent().parent().parent(); 
							data[ii]={};
							data[ii].em = tr1;
							//获取内装数
							var nei_num = tr1.find("select[name='nei_unit_id']").find("option:selected").attr('data-nei_num'); 
							if(!IsNum(nei_num)){
								nei_num = 1;
							}
							var num =tr1.find("input[name='num1s']").val(); 
							data[ii].nei_num = parseFloat(nei_num);
							ii++;
						}
					}
				});
				if(data.length>0){
					for(var i=0;i<data.length;i++){
						//计算剩余库存
						var stock_num = data[i].em.find(".td_stock_num .stock-txt");
						stock_num.val(parseFloat((snum/data[i].nei_num).toFixed(4)));
					}
				} 
			}else{
				layer.msg("不好意思，操作错误！");
			}
		}, "json"); 
	}

	//移除本行
	function removeTr(obj){
		var tr = $(obj).parent().parent();
		tr.remove();
		$(".td_xh").each(function(index,value){
			$(value).html(index+1);
		});
		//表格中的上下左右键切换input的焦点
		new tabTableInput("table", "text");
		calculateSum();
	}

	var backCall = function(obj,ul){
		//默认单位 渲染到对应的td中
		var tr = $(ul).parent().parent().parent(); //jq对象
		var wgid = $(obj).attr("data-id");
		//判断该商品是否在本次出库单中存在 如果存在则不允许添加
		if(!checkGid(wgid)){
			setRow(obj,ul,tr,wgid);  
		}else{
			layer.confirm('出现重复商品，是否添加', function(index){
			    setRow(obj,ul,tr,wgid);
			    layer.close(index);
			},function(index){
				tr.find(".td_goods_name input[type='text']").val("");
				tr.find(".td_goods_name input[type='hidden']").val("");
			});  
		}
	}

	var saveState = 0; //0.不需要保持1.需要保持
	function setRow(obj,ul,tr,wgid){
		saveState = 1; //设置保持状态为1
		getStockNum(tr);
		var div =$(ul).parent(); //td 下的div  
		var td = tr.find('.td_unit_id'); //jq对象
		tr.find(".a_del").removeClass("none");
		resetTrInfo(div);
		var hidhtml = "<select name='nei_unit_id' onchange='specChange(this)'><option data-nei_num='1' value='"+$(obj).attr('data-unit-id')+"'>"+$(obj).attr('data-unit-name') +"</option></select><input type='hidden' name='unit_id' value='"+$(obj).attr('data-unit-id')+"' /><input type='hidden' class='jcprice' value='"+$(obj).attr("data-price")+"' />";
		td.html(hidhtml);  
		tr.find(".td_brand").html($(obj).attr("data-brand"));//品牌 
		var than = $(obj).attr("data-than") || 1;
		tr.find(".td_than input").val(parseFloat(than)); //单价比
		tr.find(".td_alias input").val($(obj).attr("data-name")); //别名
		tr.find(".td_machining select").removeClass("none");//是否加工
		tr.find(".td_price input").val($(obj).attr("data-price"));//金额 
		calculateTaxPrice(tr);
		tr.removeClass("not-print");
		getSpecInfo(wgid,td);
		//表格中的上下左右键切换input的焦点
		new tabTableInput("table", "text");
	}

	
	//规格选择
	function specChange(obj){
		var tr = $(obj).parent().parent();
		var jcprice =tr.find(".td_unit_id .jcprice").val(); 
		var result = "";
		if(IsNum(jcprice)){
			result = parseFloat(jcprice)  * parseFloat($(obj).find("option:selected").attr("data-nei_num")).toFixed(4);
		} 
		/*-----------------单位备注---------------------*/
		calculatePremark(tr);

		tr.find('.td_price input').val(result);
		calculatePrice(tr);
		calculateTaxPrice(tr);
		getStockNum(tr);
	}

	//根据批发商商品编号获取规格信息
	function getSpecInfo(wgid,td){
	    var url = "/kuyou/Api/Public/getSpecInfo";
	    $.ajax({
	        type:"post",
	        url:url,
	        data:{"wgid":wgid},
	        dataType:"json",
	        success:function(data) {
	            if (data.resultcode == 0) {  
	            	var str ="";
	            	var result =data.result;
	            	for(var i=0;i<result.length;i++){
	            		str +="<option data-nei_num='"+result[i].num+"' value='"+result[i].unit_id1+"'>"+result[i].uname+"</option>";
	            	} 
	                td.find("select").append(str);
	            }
	        },
	        error:function(){
	            layer.alert('获取规格时异常',{icon: 2});
	        }
	    }); 
	}

	//判断该商品是否在本次出库单中存在 如果存在则不允许添加
	function checkGid(gid){
		var wgids = document.getElementsByName("wgids");
		var k =0;
		for(var i=0;i<wgids.length;i++){
			if(wgids[i].value==gid){
				k++;
			}
			if(k>1){
				return true;
			}
		}
		return false;
	}
	//总金额计算 1.修改数量时自动计算 2.修改单价时自动计算
	$('.td_num input').change(function(){
		//判断是否填写金额
		var tr = $(this).parent().parent();
		tr.find(".td_num1 input").val(this.value); //修改备用数量信息
		//新加单位备注  数量+单位 
		calculatePremark(tr);
		getStockNum(tr);
		calculateRweight(tr); 
		//计算金额
		calculatePrice(tr);
	});

	//总金额和数量计算税后单据
	$(".td_sum input").change(function(){ 
		var tr = $(this).parent().parent();
		var num = tr.find(".td_num input").val();
		var than = $(".td_than input").val();
		var zje = $(this).val();
		if(IsNum(zje)){
			if(IsNum(num)){  
				if(IsNum(than)){ 
					//单价 
					var price = parseFloat(zje)/parseFloat(num)/parseFloat(than); 
					tr.find(".td_price input").val(price.toFixed(4));
					//税后单价
					var tprice = parseFloat(zje)/parseFloat(num);
					tr.find(".td_tax_price").html(tprice.toFixed(4));
				}else{
					//单价
					var price = parseFloat(zje)/parseFloat(num);
					tr.find(".td_price input").val(price.toFixed(4));
				}
			}
		}
		//计算单据金额
		calculateSum();
	});

	$(".td_cdnum input").change(function(){
		var tr = $(this).parent().parent();
		getStockNum(tr);
		calculateRweight(tr);
	});

	$('.td_price input').change(function(){
		//判断是否填写数量
		var tr = $(this).parent().parent();
		calculateTaxPrice(tr); 
		//计算金额
		calculatePrice(tr);
	});

	//税后单价计算
	function calculateTaxPrice(tr){
		var than = tr.find(".td_than input").val();
		var price = tr.find(".td_price input").val();
		if(IsNum(price) && IsNum(than)){
			var result =(parseFloat(price)*parseFloat(than)).toFixed(4);
			tr.find(".td_tax_price").html(result);
		}
	}

	//单价比
	$('.td_than input').change(function(){
		var tr = $(this).parent().parent();
		//计算税后单价
		calculateTaxPrice(tr);
		//计算金额
		calculatePrice(tr);
	}); 


	//重置本行信息
	function resetTrInfo(div){
		var tr = div.parent().parent();//tr　　
		tr.find(".td_num input[name='num1s']").val("");
		tr.find(".td_sum input[name='sums']").val("");
		tr.find(".td_than input[name='thans']").val("");
		tr.find(".td_cdnum input[name='cdnums']").val("");
		tr.find(".td_remark input[name='remarks']").val("");
		tr.find(".td_brand").html("");
		calculateSum();
	}
	//计算总金额
	function calculateSum(){
		var total=0;
		$("input[name='sums']").each(function(index,value){
			if(IsNum($(value).val()))
				total =parseFloat(total) + parseFloat($(value).val());
		});
		$("#total").val(parseFloat(total.toFixed(4)));
	}

	//计算金额
	function calculatePrice(tr){
		var price = tr.find(".td_price input").val();
		var num = tr.find(".td_num input").val();
		var than = tr.find(".td_than input[name='thans']").val();
		var sum = tr.find(".td_sum input");
		if(IsNum(num) && IsNum(than) && IsNum(price)){
			var ss= (parseFloat(price) * parseFloat(num)) * parseFloat(than)
			sum.val(parseFloat(ss.toFixed(4)));
		}else if(IsNum(num) && IsNum(price)){
			sum.val(parseFloat((parseFloat(price) * parseFloat(num)).toFixed(4)));
		}else{
			sum.val(0);
		}
		calculateSum();
	}

	//计算毛重
	function calculateRweight(tr){
		var num = tr.find(".td_num input").val();
		var cdnum = tr.find(".td_cdnum input").val();
		var rweight = tr.find(".td_rweight");
		if(IsNum(num) && IsNum(cdnum)){
			rweight.html(parseFloat(num)+parseFloat(cdnum));
		}else if(IsNum(num)){ 
			rweight.html(parseFloat(num));
		}else if(IsNum(cdnum)){
			rweight.html(parseFloat(cdnum)); 
		}
	}
</script>
<script>
	//保存 
	function savePurchase(status){
		var osid=$("#osid").val();
		var cid=$("#cid").val();
		if(cid==""){
			layer.tips('请填写供应商', '#txt_cid', {tips: 1});
			return;
		}
		var cid=$("input[id='cid']").val();
		var	date=$("input[id='date']").val(),
			osname=$("input[id='osname']").val(), 
			remark=$("input[id='remark']").val(),
			total=$("input[id='total']").val();
		var data ={
			osid:osid,
			osname:osname,
			cid:cid,
			create_time:date,
			status:status,
			total:total, 
			remark:remark
		} 
		var	arr = []; 
		var k=0;
		var errStr ="";
		$("input[name='wgids']").each(function(index,value){ 
			var val = $(value).val();
			if(val){
				var t_num1s = $(value).parent().parent().parent().find("input[name='num1s']").val();
				var t_cdnums = $(value).parent().parent().parent().find("input[name='cdnums']").val();
				//数量 和 货损数量 都为空或0 时 
				if((t_num1s=="" || t_num1s=='0') && (t_cdnums=="" || t_cdnums=='0')){  
					errStr +=index+1+",";
					arr.push(index);//未完善数据在第几行
					k++; 
				} 
				//数量为0 货损数量大于0 
					
			}
		});
		if(errStr!=""){
			errStr = errStr.substr(0,errStr.length-1);
			errStr = "在第"+errStr+"行，数量未填写,保存数据将对未完善数据进行移除,是否保存数据?";
			layer.confirm(errStr, {icon: 3, title:'提示'},function(index){
				layer.close(index);
				submitForm(arr,data);
			},function(index){
				layer.close(index);
				return;
			});
		}else{
			submitForm(arr,data);
		} 
	}
	var isRequest = true;
	function submitForm(arr,data){
		if(isRequest){
			isRequest = false;
			var wgids = '',// 商品名称
				alias = '',//默认单位
				unit_ids = '',//默认单位
				num1s = '',//数量
				num2s = '',//备用数量
				prices = '',//单位进价
				sums = '',//总金额
				thans = '',//单价比 
				cdnums = '',//货损数量
				remarks = '',//备注
				nei_unit_ids="",//内装单位
				nei_nums="", //内装数
				machinings="", //毛重 
				p_remarks=""; //采购备注

			$("input[name='wgids']").each(function(index,value){
				if(arr.indexOf(index)<0){
					var val=$(value).val();
					if (val) {
						wgids+=val+',';
						alias+= $("input[name='alias']").eq(index).val()+',';
						unit_ids+= $("input[name='unit_id']").eq(index).val()+',';
						num1s+= $("input[name='num1s']").eq(index).val()+',';
						num2s+= $("input[name='num2s']").eq(index).val()+',';
						prices+= $("input[name='prices']").eq(index).val()+',';
						sums+= $("input[name='sums']").eq(index).val()+',';
						thans+= $("input[name='thans']").eq(index).val()+','; 
						cdnums+= $("input[name='cdnums']").eq(index).val()+',';
						remarks+= $("input[name='remarks']").eq(index).val()+',';
						nei_unit_ids += $("select[name='nei_unit_id']").eq(index).val()+','; 
						nei_nums += $("select[name='nei_unit_id']").eq(index).find("option:selected").attr("data-nei_num")+',';  
						machinings += $("select[name='machinings']").eq(index).val()+','; 
						p_remarks += $("input[name='p_remarks']").eq(index).val()+','; 
					}
				}
			});

			data.wgids=wgids.substr(0,wgids.length-1);
			data.alias=alias.substr(0,alias.length-1);
			data.unit_ids=unit_ids.substr(0,unit_ids.length-1);
			data.num1s=num1s.substr(0,num1s.length-1);
			data.num2s=num2s.substr(0,num2s.length-1);
			data.prices=prices.substr(0,prices.length-1);
			data.sums=sums.substr(0,sums.length-1);
			data.thans=thans.substr(0,thans.length-1); 
			data.cdnums=cdnums.substr(0,cdnums.length-1);
			data.remarks=remarks.substr(0,remarks.length-1);
			data.nei_unit_ids=nei_unit_ids.substr(0,nei_unit_ids.length-1);  
			data.nei_nums=nei_nums.substr(0,nei_nums.length-1);  
			data.machinings=machinings.substr(0,machinings.length-1); 
			data.p_remarks=p_remarks.substr(0,p_remarks.length-1);  
			if(data.wgids==""){
				layer.msg('请填写数据');
				isRequest = true;
				return;
			}
			var status = data.status;
			var osid =data.osid;
			var index = layer.load(2,{time:3000});
			$.ajax({
				type:"post",
				url:"{:U('Purchase/PurchaseAjaxEdit')}",
				data:data,
				dataType:"json",
				success:function(data) {
					if(data.resultcode==0){
						$("input[name='wgids']").each(function(index,value){
							if(arr.indexOf(index)>=0){
								$(value).parent().parent().parent().remove();
							}	
						});
						if(status==0){ 
							layer.close(index);
							layer.alert('订单保存成功',function(index){
								window.scrollTo(0,0); 
								$("#div_zzc").removeClass("none"); 
								$(".a_del").addClass("none");
								layer.close(index); 
							});  
						}else{
							$("input[name='wgids']").each(function(index,value){
								if(arr.indexOf(index)>=0){
									$(value).parent().parent().parent().remove();
								}	
							});
							layer.msg('订单保存成功，正在生成出库单请稍后...',{icon:1});
							//生成出库单
							$.post("{:U('Purchase/buildOutStock')}",{osid:osid,status:0},function(data){ 
								if(data.resultcode==0){ 
									layer.alert(data.msg,function(index1){
										window.scrollTo(0,0); 
										$("#div_zzc").removeClass("none"); 
										$(".a_del").addClass("none"); 
										layer.close(index1) ;
									}); 
								}else{
									layer.alert(data.msg);
								}  
								isRequest = true;
							},"json");  
						}
						setTimeout(function(){isRequest = true;},500);
						saveState=0;
						publicState=1;
					}else{
						layer.alert(data.msg,function(index){
							if(data.err_row){
								var err_row = parseInt(data.err_row)-1;
								$("#table tbody").find("tr").eq(err_row).find(".a_del").removeClass("none");
							}
							layer.close(index);
						});
					}
				},
				error:function(){
					layer.alert('保存时出现异常，程序猿要帮忙了。',{icon: 2});
					isRequest = true;
				}
			}); 
		}
	}



	//数据列设置
	$('.data').click(function(){
		layer.open({
			type: 2,
			closeBtn: 1,
			area: ['700px', '500px'],
			title: false,
			content: '__APP__/WholesaleAdmin/Outstock/outstockDataSet.html'
		});
	});

	//打印和导出状态 0.不可打印导出 1.可打印导出
	var publicState = 0;
	//excel 导出 
	function exportJoinStock(){
		if(publicState==1){
			//根据订单据号获取客户地址
			var index = layer.load(2, {time: 2000});
			var osid = $("#osid").val();
			$.ajax({
				type:"post",
				url:"{:U('Purchase/getSaddress')}",
				data:{'osid':osid},
				dataType:"json",
				success:function(data) {
					if(data.resultcode==0){
						var address = getAddressName(data.result[0].pid)+getAddressName(data.result[0].pid,data.result[0].cid)+getAddressName(data.result[0].pid,data.result[0].cid,data.result[0].did);
						address += data.result[0]['street'];
						var url = "{:U('Purchase/exportOrder')}";
						url+="?osid="+osid+"&address="+address;
						location.href=url;
					} 
				},
				error:function(){
					layer.alert('获取地址异常',{icon: 2});
				}
			}); 
			
		}else{
			layer.alert("请先保存订单",{icon: 2});
		}
	}

	function printme(){   
		var osid = $("#osid").val();
		if(publicState==1){
			layer.open({
				type: 2,
				closeBtn: 0,
				area: ['0px', '0px'],
				title: false,
				content: '__APP__/WholesaleAdmin/Purchase/orderPrint.html?osid='+osid
			}); 
		}else{
			layer.alert("请先保存订单",{icon: 2});
		} 
	}
	
</script>
</body>
</html>