<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css" /> 
</head>
<body>
	<div class="nav navbar-default">
		<div class="container-fluid pb10">
			<h3>库存管理</h3>
			<div class="">
				<form action="__SELF__" method="post">
					<div class="from-group">
						<div class="col-xs-6 col-md-2">	
							<span class="fl mt8">商品名</span>
							<input type="text" name="gname" value="{$gname}" class="fl form-control w-110 ml10">	
						</div>
						<div class="col-xs-6 col-md-2">
							<span class="fl mt8">商品类别</span>
							<select class="fl w-100 ml10" name="gtid" id="gtid">
								<option value="">全部</option>
								<volist name="typeList" id="vo">
									<option value="{$vo.gtid}">{$vo.type_name}</option>
								</volist>
							</select>		
						</div> 
						<div class="col-xs-6 col-md-2 col-md-offset-2">
							<input type="submit" class="btn btn-style w-100 ml10" value="查询" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container-fluid mt10">
		<div class="col-xs-12">
			<table class="tb-style">
				<thead>
					<tr>
						<td>行号</td>
						<td>商品名称</td>
						<td>剩余数量</td>
						<td>默认单位</td>
						<td>进价单位(元)</td>
						<td>货损总计</td>
						<td>规格2数量</td>
						<td>规格2</td>
						<td>规格3数量</td>
						<td>规格3</td>
						<td>规格4数量</td>
						<td>规格4</td>
						<td>成本总额(元)</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
					<tr>
						<td>{$vo.sid}</td>
						<td>{$vo.name}</td>
						<td>{$vo.num1}</td>
						<td>{$vo.unit_name1}</td>
						<td>{$vo.price}</td>
						<td></td>
						<td>
							<if condition="$vo['unit_id2'] neq null">
							{$vo.num2}
							</if>
						</td>
						<td>{$vo.unit_name2}</td>
						<td>
							<if condition="$vo['unit_id3'] neq null">
							{$vo.num3}
							</if>
						</td>
						<td>{$vo.unit_name3}</td>
						<td>
							<if condition="$vo['unit_id4'] neq null">
							{$vo.num4}
							</if>
						</td>
						<td>{$vo.unit_name4}</td>
						<td>{$vo.total|keep4}</td>
						<td data-id="{$vo.wgid}">
							<a href="javascript:;">修改</a>&nbsp;&nbsp;
							<!-- <a class="detail_page" href="javascript:;">查看库存明细</a> -->
						</td>
					</tr>
					</volist> 
				</tbody>
			</table>
			<div class="pr text-right mt10">
				{$page}
			</div>
		</div>
	</div> 
	<script src='__PUBLIC__/js/jquery.min.js' charset="UTF-8"></script>
	<script src="__PUBLIC__/js/base.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js?v={$version}"></script>
	<script src="__PUBLIC__/layer/layer.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#gtid").val("{$gtid}");
		});
		$(".detail_page").click(function(){
			var id = $(this).parent().attr("data-id");
			var url ="{:U('Stock/stockDetail')}";
		    url +="?wgid="+id;
			layer.open({
				type: 2,
				closeBtn: 1,
				area: ['1000px', '500px'],
				title: false,
				content: url
			});
		});
	</script>
</body>
</html>