<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css" /> 
</head>
<body>
	<div class="nav navbar-default">
		<div class="container-fluid pb10">
			<h3>库存明细</h3>
			<div class="">
				<form>
					<div class="from-group">
						<div class="col-xs-12 col-md-12">	
							<span class="fl mt8">商品名</span>
							<input type="text" name="" class="fl form-control w-110 ml10">	
							<span class="fl mt8 ml30">商品类别</span>
							<select class="fl w-100 ml10"></select>	
							<span class="fl mt8 ml30">仓库</span>
							<input type="text" name="" class="fl form-control w-110 ml10">
							<button class="btn btn-style w-100 ml30">查询</button>
						</div>
						<div class="col-xs-6 col-md-3">
								
						</div>
						<div class="col-xs-6 col-md-3">					
							
						</div>
						<div class="col-xs-6 col-md-3 ">
							
						</div>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-md-12 mt10">
				<table class="tb-style">
					<thead>
						<tr>
							<td>行号</td>
							<td>库存明细</td>
							<td>入(出)库单据号</td>
							<td>供应商/客户</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1001</td>
							<td>
								老王在2016年9月9日，12:00，入库了100斤白菜。
							</td>
							<td>pp2016789999-10</td>
							<td>李白(供应商)</td>
						</tr> 
					</tbody>
				</table>
			</div>
		</div>
	</div>  
	<script src='__PUBLIC__/js/jquery.min.js' charset="UTF-8"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js?v={$version}"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>